{% extends "base.html" %}

{% block titulo %} Buscador {% endblock %}

{% block contenido %} 

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <form method="get">
                <h2>Buscador de Películas</h2>
                <div class="mb-3">
                <label for="" class="form-label">Ingrese parte del nombre de una película que desee buscar</label>
                <input type="text"
                    class="form-control" name="buscar" id="buscar" aria-describedby="helpId" placeholder="">
                </div>
                <button type="submit" class="btn btn-outline-primary">Buscar</button>
            </form>        
        </div>
    </div>
</div>

{% endblock %}